body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%;
    line-height: 1.8;
    /*overflow: hidden;*/
}

/*Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/images/mainPeople.jpg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

.contact {
    height: 100%;
}

.cantact-info {
    margin-top: 50px;
}

.contact-details {
    margin: 25px;
    border-collapse: collapse;
}

.input-contact {
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 30%;
    resize: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-block {
    width: 50%; /* lub dowolna inna szerokość */
    margin: 0 auto;
    background-color: lightgrey; /* dla lepszej widoczności */
}

.form-grid {
    display: grid;
    position: relative;
    gap: 15px;
    vertical-align: middle;

}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

label {
    margin-right: 5px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form {
    display: grid;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.main-h3 {
    color: lightgrey;
    padding: 30px;
}

.main-registration {
    margin-top: 120px;
    padding: 48px
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding-top: 60px; /* Dodaj odpowiednią ilość paddingu, aby uwzględnić wysokość nawigacji */
    text-align: center;
}

main {
    padding: 20px;
}

.alert {
    display: flex;
    resize: none;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px;
    border-radius: .35rem;
    align-items: center;
    justify-content: center;
    margin-right: 35%;
    margin-left: 35%;
}

.alert-success {
    color: #0f6848;
    background-color: #d2f4e8;
    border-color: #bff0de
}

.alert-error {
    color: black;
    background-color: red;
    border-color: darkred;
}

.alert-success hr {
    border-top-color: #aaebd3
}

.alert-success .alert-link {
    color: #093b29
}

/*table {*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
/*    margin-top: 20px;*/
/*}*/

/*th, td {*/
/*    border: 1px solid black;*/
/*    padding: 8px;*/
/*    text-align: center;*/
/*}*/

/*th {*/
/*    border-width: 1px 1px 0;*/
/*    background-color: #f7f7f7;*/
/*}*/

/*.pagination {*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/
/*.pagination button {*/
/*    padding: 5px 10px;*/
/*    margin: 0 5px;*/
/*    cursor: pointer;*/
/*    outline: 1px solid #494a4f;*/
/*    border-radius: 4px;*/
/*    border: none;*/
/*}*/
/*.hidden {*/
/*    clip: rect(0 0 0 0);*/
/*    clip-path: inset(50%);*/
/*    height: 1px;*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    white-space: nowrap;*/
/*    width: 1px;*/
/*}*/
/*.pagination button.active {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*}*/