body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body {
    height: 100%;
    line-height: 1.8;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}
.form-group {
    margin-bottom: 15px;
}
.form-actions {
    text-align: center;
}
.form-actions input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.form-actions input[type="submit"]:hover {
    background-color: #45a049;
}
.error {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #009879;
    color: #ffffff;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 10px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("static/images/mainPeople.jpg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}