body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
    height: 100%;
    line-height: 1.8;
}

/*Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/images/mainPeople.jpg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

.contact {
    height: 100%;
}

.cantact-info {
    margin-top: 50px;
}
.contact-details {
    margin: 25px;
    border-collapse: collapse;
}

.input-contact {
    padding: 8px;

    border: none;
    border-bottom: 1px solid #ccc;
    width: 30%;
    resize: none;
}


